<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
        <a href="" class="navbar-brand ml-lg-3">
            <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-angle-right"></i>Administrador</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse" style="font-size: 20px;">
            <div class="navbar-nav mx-auto py-0">
                <a routerLink="usuario" class="nav-item nav-link active"  style="color: rgb(0, 63, 252);">Solicitud especialidades</a>
                <a routerLink="listarExamenes" class="nav-item nav-link" style="color: rgb(0, 63, 252);">Solicitud Examenes</a>
                <a routerLink="cargaDatos" class="nav-item nav-link" style="color: rgb(0, 63, 252);">Cargar datos</a>
                <a routerLink="monetizacion" class="nav-item nav-link" style="color: rgb(0, 63, 252);">Monetizacion</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="color: rgb(0, 63, 252);">Reportes</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" routerLink="historialCobro" style="color: rgb(0, 63, 252);">Historial de cobro</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>